<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			display: flex; 
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background-color: #f0f0f0;
		}
		h1 {
			text-align: center;
			color: #fff; 
		}
		.service-link {
			text-align: center; 
			margin-top: 200px; 
			display: block; 
			color: #007bff;
			text-decoration: none; 
		}
		.service-link:hover {
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<h1>sample HTML</h1>
	<a href="/helth" class="service-link">وضعیت سرویس</a>
</body>
</html>
